body {margin:0; font:12px Verdana,Arial}
#input {border:none; margin:0; padding:0; font:14px 'Courier New',Verdana; border:0}
.te {border:1px solid #bbb; padding:0 1px 1px; font:12px Verdana,Arial; margin:0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.te iframe {border:none}
.teheader {height:31px; border-bottom:1px solid #bbb; background:url(images/header-bg.gif) repeat-x; padding-top:1px}
.teheader select {float:left; margin-top:5px}
.tefont {margin-left:12px}
.tesize {margin:0 3px}
.testyle {margin-right:12px}
.tedivider {float:left; width:1px; height:30px; background:#ccc}
.tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(images/icons.png)}
.tecontrol:hover {background-color:#fff; background-position:30px 0}
.tecontrolv{float:left; width:34px; height:30px; cursor:pointer; background-image:url(images/video.png); background-repeat:no-repeat; background-position:8px 5px;}
.tecontrolv:hover {background-color:#fff; background-repeat:no-repeat; background-position:8px 5px;}

.tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggle {float:left; background:url(images/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(images/resize.gif) 15px 15px no-repeat; cursor:s-resize}
#editor {cursor:text; margin:10px}
.pop_insert_v{background:#FAFAFA;display:block; border:1px #BBB solid; position:absolute; width:562px;height:40px;
text-align:left;
}
.inner_box{ line-height:35px;padding-left:10px;display:inline-block; font-size:12px;}
.input_box{ padding-top:6px; display:inline-block;padding-left:5px;padding-right:12px;}
.input_box input{height:27px; width:430px;}