<div id="loginbox" style="display: none">
    <script>
        function focusBox(cls){
            //$('.'+cls).addClass('reg_td_focus');
        }

    </script>
    <div class="bg"></div>
    <div class="loginbox" style="">
        <div class="loginboxinner">
            <form>
                <div class="reg_title">

                </div>
                <div class="reg_tr">
                    <div class="reg_td reg_td_name">
                        <input style=" width: 142px;" name="nickname" type="text" id="username" onblur="focusBox('reg_td_name');"  />
                    </div>
                </div>
                <div class="reg_tr">
                    <div class="reg_td reg_td_pass">
                        <input style=" width: 142px;" name="password" type="password" id="password"   />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>